@import url("https://fonts.googleapis.com/css?family=Lato|Nunito+Sans");
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);
.current {
  background-color: #53A548;
  border-radius: 5px;
}

.current:hover {
  background-color: #EEF95D;
  color: #333333;
}

.current:active {
  background-color: #53A548;
  color: #333333;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #ECECEC;
}

::-moz-selection {
  background: #EEF95D;
  /* WebKit/Blink Browsers */
}

::selection {
  background: #EEF95D;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #EEF95D;
  /* Gecko Browsers */
}

#style-2::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #53A548;
}

#style-2::-webkit-scrollbar-thumb:hover {
  color: #53A548;
}

#style-2::-webkit-scrollbar-thumb:active {
  color: #53A548;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

nav {
  position: fixed;
  background-color: #333333;
  width: 100%;
  height: 70px;
  display: block;
  z-index: 10;
  opacity: 90;
  margin-bottom: 10px;
}

nav .navContainer {
  width: 80%;
  height: 100%;
  margin: auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navContainer .navLeft {
  width: 40%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navContainer .navLeft .navLinks {
  list-style-type: none;
  margin: auto;
  height: 100%;
  width: 100%;
}

nav .navContainer .navLeft .navLinks li {
  display: inline-block;
  margin: auto;
  height: 100%;
  text-transform: uppercase;
  font-size: medium;
  padding-left: 10px;
  padding-right: 10px;
}

nav .navContainer .navLeft .navLinks li .listA {
  line-height: 70px;
  margin: auto;
  white-space: nowrap;
  text-decoration: none;
  color: white;
  text-align: center;
  display: block;
  vertical-align: middle;
}

nav .navContainer .navLeft .navLinks li:hover {
  height: 100%;
  background-color: #EEF95D;
  text-decoration: none;
}

nav .navContainer .navLeft .navLinks li:hover a {
  color: black;
}

nav .navContainer .navLeft .navLinks li:active {
  height: 100%;
  background-color: #53A548;
  text-decoration: none;
}

nav .navContainer .navLeft .navLinks li:active a {
  color: black;
}

nav .navContainer #navCenter {
  width: 20%;
  min-width: 210px;
  height: 100%;
  margin: auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navContainer #navCenter #navLiCenter {
  width: 60%;
  height: 100%;
  margin: auto auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navContainer #navCenter #navLiCenter #logo {
  width: 100%;
  height: 100%;
  margin: auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navContainer #navCenter #navLiCenter #logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto auto;
}

nav .navContainer #navCenter #navLiCenter #logo a svg {
  height: 75%;
  margin: auto auto;
}

nav .navContainer #navCenter #navLiCenter #logo a svg:hover .cls-1, nav .navContainer #navCenter #navLiCenter #logo a svg:hover .cls-2, nav .navContainer #navCenter #navLiCenter #logo a svg:hover .cls-3 {
  fill: #EEF95D;
}

nav .navContainer #navCenter #navLiCenter #logo a svg:hover .cls-2, nav .navContainer #navCenter #navLiCenter #logo a svg:hover .cls-3 {
  fill: #EEF95D;
}

nav .navContainer #navCenter #navLiCenter #logo a svg:active .cls-1, nav .navContainer #navCenter #navLiCenter #logo a svg:active .cls-2, nav .navContainer #navCenter #navLiCenter #logo a svg:active .cls-3 {
  fill: #53A548;
}

nav .navContainer #navCenter #navLiCenter #logo a svg:active .cls-2, nav .navContainer #navCenter #navLiCenter #logo a svg:active .cls-3 {
  fill: #53A548;
}

nav .navContainer .navRight {
  width: 40%;
  height: 100%;
  margin: auto 0 auto auto;
  display: block;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .navContainer .navRight div {
  width: 100%;
  height: 15px;
  font-size: small;
  margin: auto auto;
  padding-right: 25px;
  text-align: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #9b9b9b;
}

/*
@media only screen and (max-device-width : 1080px) and (orientation: portrait) {

  nav{
    height: $phone-nav-height;

    .navContainer{
      height: $phone-nav-height;
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;

      #pageLinks{
        a{
          font-size: xx-large;
        }
      }

      #logo{
        height: $phone-nav-height;

        a{
          img{
            height: 50%;
          }
        }
      }
    }
  }
}*/
.homeContent {
  padding-top: 80px;
  width: 80%;
  height: calc(100% - (70px - 5px));
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.homeContent .hmLeft {
  width: 73%;
  background-color: white;
  min-height: 100%;
  border-radius: 10px 0 0 10px;
  overflow-x: hidden;
}

.homeContent .hmLeft .headerIMG {
  width: 100%;
  margin: 0 auto;
}

.homeContent .hmLeft .headerIMG img {
  width: 100%;
  height: auto;
  border-radius: 10px 0 0 0;
}

.homeContent .hmLeft .homeTxt {
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 5% 15px 5%;
  display: block;
}

.homeContent .hmLeft .homeTxt .header {
  width: 100%;
  margin: 0 auto;
}

.homeContent .hmLeft .homeTxt .header h1 {
  margin: 7px auto;
  text-align: center;
  font-size: 300%;
  letter-spacing: 3px;
  color: #333333;
}

.homeContent .hmLeft .homeTxt .header h2 {
  margin: 0 auto;
  text-align: center;
  letter-spacing: 3px;
  color: #333333;
}

.homeContent .hmLeft .homeTxt a {
  color: #53A548;
  text-decoration: none;
}

.homeContent .hmLeft .homeTxt a:hover {
  color: #EEF95D;
}

.homeContent .hmLeft .homeTxt a:active {
  color: #53A548;
}

.homeContent .hmRight {
  background-color: white;
  width: 25%;
  margin: 0 0 auto auto;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  border-radius: 0 10px 10px 0;
  max-height: calc(100% - (70px - 5px));
}

.homeContent .hmRight #noAnnounce {
  margin-left: 5%;
}

.homeContent .hmRight h3 {
  color: #333333;
  text-align: center;
  margin-bottom: 5px;
}

.homeContent .hmRight p {
  width: 90%;
  color: #333333;
  overflow: auto;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
}

.homeContent .hmRight p a {
  color: #53A548;
  text-decoration: none;
}

.homeContent .hmRight p a:hover {
  color: #EEF95D;
}

.homeContent .hmRight p a:active {
  color: #53A548;
}

.homeContent .hmRight h4 {
  color: #333333;
  padding-left: 1em;
  padding-right: 1em;
}

.homeContent .hmRight #announceDates {
  width: 95%;
  color: #333333;
  font-size: 60%;
  text-align: right;
}

.ladderContent {
  padding-top: 80px;
  width: 80%;
  height: calc(100% - (70px - 5px));
  margin: 0 auto 0 auto;
  display: block;
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.ladderContent .header {
  width: 100%;
  margin: 0 auto;
}

.ladderContent .header h1 {
  margin: 7px auto;
  text-align: center;
  font-size: 300%;
  letter-spacing: 3px;
  color: #333333;
}

.ladderContent .header h3 {
  margin: 0 auto 5px auto;
  text-align: center;
  letter-spacing: 3px;
  color: #333333;
}

.ladderContent .header h3 a {
  text-decoration: none;
  text-align: center;
  color: #333333;
}

.ladderContent .header h3 a:hover {
  color: #EEF95D;
}

.ladderContent .header h3 a:active {
  color: #53A548;
}

.ladderContent .ctIMG {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ladderContent .ctIMG img {
  width: 65%;
  margin: 30px auto auto auto;
  -webkit-box-shadow: 3px 3px 8px #888888;
          box-shadow: 3px 3px 8px #888888;
}

.ladderContent .standings {
  width: 90%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 5% auto 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.ladderContent .standings .left {
  width: 48%;
  margin: 0 auto auto 0;
}

.ladderContent .standings .left h2 {
  text-align: center;
  color: #333333;
  padding-bottom: 10px;
}

.ladderContent .standings .left div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-bottom: 7px;
  text-decoration: underline;
}

.ladderContent .standings .left div .rnk {
  width: 20%;
  margin: auto;
  text-align: center;
}

.ladderContent .standings .left div .nme {
  width: 60%;
  text-align: center;
  margin: auto;
}

.ladderContent .standings .left div .pts {
  width: 20%;
  text-align: center;
  margin: auto;
}

.ladderContent .standings .left table {
  width: 100%;
  margin: 0 auto;
  padding: 5px auto 5px auto;
  border-collapse: collapse;
}

.ladderContent .standings .left table td {
  padding-top: .5em;
  padding-bottom: .5em;
  border: none;
}

.ladderContent .standings .left table .tableLeft {
  width: 20%;
  text-align: center;
  padding: 5px auto;
}

.ladderContent .standings .left table .tableCenter {
  width: 60%;
  text-align: center;
  padding: 5px auto;
}

.ladderContent .standings .left table .tableCenter form .singles-player-name {
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 1em;
}

.ladderContent .standings .left table .tableCenter form .singles-player-name:hover {
  color: #EEF95D;
}

.ladderContent .standings .left table .tableCenter form .singles-player-name:active {
  color: #53A548;
}

.ladderContent .standings .left table .tableRight {
  width: 20%;
  text-align: center;
  padding: 5px auto;
}

.ladderContent .standings .right {
  width: 48%;
  margin: 0 0 auto auto;
}

.ladderContent .standings .right h2 {
  text-align: center;
  color: #333333;
  padding-bottom: 10px;
}

.ladderContent .standings .right div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-bottom: 7px;
  text-decoration: underline;
}

.ladderContent .standings .right div .rnk {
  width: 20%;
  margin: auto;
  text-align: center;
}

.ladderContent .standings .right div .nme {
  width: 60%;
  text-align: center;
  margin: auto;
}

.ladderContent .standings .right div .pts {
  width: 20%;
  text-align: center;
  margin: auto;
}

.ladderContent .standings .right table {
  width: 100%;
  margin: 0 auto;
  padding: 5px auto 5px auto;
  border-collapse: collapse;
}

.ladderContent .standings .right table td {
  padding-top: .5em;
  padding-bottom: .5em;
  border: none;
}

.ladderContent .standings .right table .tableLeft {
  width: 20%;
  text-align: center;
  padding: 5px auto;
}

.ladderContent .standings .right table .tableCenter {
  width: 60%;
  text-align: center;
  padding: 5px auto;
}

.ladderContent .standings .right table .tableCenter form .doubles-player-name {
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 1em;
}

.ladderContent .standings .right table .tableCenter form .doubles-player-name:hover {
  color: #EEF95D;
}

.ladderContent .standings .right table .tableCenter form .doubles-player-name:active {
  color: #53A548;
}

.ladderContent .standings .right table .tableRight {
  width: 20%;
  text-align: center;
  padding: 5px auto;
}

.playerContent {
  padding-top: 80px;
  width: 80%;
  height: calc(100% - (70px - 5px));
  margin: 0 auto 0 auto;
  display: block;
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.playerContent .header {
  width: 90%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.playerContent .header h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 300%;
  letter-spacing: 3px;
  color: #333333;
}

.playerContent .header h4 {
  margin: 0 auto;
  text-align: center;
  letter-spacing: 3px;
  color: #333333;
}

.playerContent .header .rankings {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px auto;
}

.playerContent .header .rankings .left {
  margin: 0 20px auto auto;
  width: 49%;
  text-align: right;
}

.playerContent .header .rankings .right {
  margin: 0 auto 20px auto;
  width: 49%;
  text-align: left;
}

.playerContent .loginDiv {
  width: 90%;
  height: 25%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.playerContent .loginDiv .loginForm {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: block;
  padding: 0 15px 0 15px h1;
  padding-text-align: center;
}

.playerContent .loginDiv .loginForm label {
  padding-left: 15px;
  padding-right: 15px;
}

.playerContent .loginDiv .loginForm input[type="email"] {
  width: 300px;
  padding-left: 15px;
  border-radius: 5px;
  border: 0.5px solid;
}

.playerContent .loginDiv .loginForm input[type="password"] {
  width: 300px;
  padding-left: 15px;
  border-radius: 5px;
  border: 0.5px solid;
}

.playerContent .loginDiv .loginForm input[type="submit"] {
  width: 200px;
  margin-left: 35px;
  border-radius: 5px;
  float: right;
  border-style: solid;
}

.playerContent .loginDiv .loginForm input[type="submit"]:hover {
  background-color: #585858;
  color: #EEF95D;
  border-radius: 5px;
}

.playerContent .loginDiv .loginForm input[type="submit"]:active {
  color: #53A548;
  background-color: #333333;
}

.aboutContent {
  padding-top: 80px;
  width: 80%;
  height: calc(100% - (70px - 5px));
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.aboutContent .abtLeft {
  width: 73%;
  background-color: white;
  min-height: 100%;
  border-radius: 10px 0 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
}

.aboutContent .abtLeft .aboutTxt {
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 5% 15px 5%;
  display: block;
}

.aboutContent .abtLeft .aboutTxt .header {
  width: 100%;
  margin: 15px auto 0 auto;
}

.aboutContent .abtLeft .aboutTxt .header h1 {
  margin: 7px auto;
  text-align: center;
  font-size: 300%;
  letter-spacing: 3px;
  color: #333333;
}

.aboutContent .abtLeft .aboutTxt .header h2 {
  margin: 0 auto;
  text-align: center;
  letter-spacing: 3px;
  color: #333333;
}

.aboutContent .abtLeft .aboutTxt a {
  color: #53A548;
  text-decoration: none;
}

.aboutContent .abtLeft .aboutTxt a:hover {
  color: #EEF95D;
}

.aboutContent .abtLeft .aboutTxt a:active {
  color: #53A548;
}

.aboutContent .hmRight {
  background-color: white;
  width: 25%;
  margin: 0 0 auto auto;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  border-radius: 0 10px 10px 0;
  max-height: calc(100% - (70px - 5px));
}

.aboutContent .hmRight #noAnnounce {
  margin-left: 5%;
}

.aboutContent .hmRight h3 {
  color: #333333;
  text-align: center;
  margin-bottom: 5px;
}

.aboutContent .hmRight p {
  width: 90%;
  color: #333333;
  overflow: auto;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
}

.aboutContent .hmRight p a {
  color: #53A548;
  text-decoration: none;
}

.aboutContent .hmRight p a:hover {
  color: #EEF95D;
}

.aboutContent .hmRight p a:active {
  color: #53A548;
}

.aboutContent .hmRight h4 {
  color: #333333;
  padding-left: 1em;
  padding-right: 1em;
}

.aboutContent .hmRight #announceDates {
  width: 95%;
  color: #333333;
  font-size: 60%;
  text-align: right;
}

.adminContent {
  padding-top: 80px;
  width: 80%;
  height: calc(100% - (70px - 5px));
  margin: 0 auto 0 auto;
  display: block;
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.adminContent .header {
  width: 100%;
  margin: 0 auto;
}

.adminContent .header h1 {
  margin: 7px auto;
  text-align: center;
  font-size: 300%;
  letter-spacing: 3px;
  color: #333333;
}

.adminContent .header h3 {
  margin: 0 auto 5px auto;
  text-align: center;
  letter-spacing: 3px;
  color: #333333;
}

.adminContent .adminBody {
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.adminContent .adminBody .adminOptions {
  min-width: 25%;
  height: 100%;
  margin: 0 auto 0 auto;
}

.adminContent .adminBody .adminOptions .optionsList {
  list-style: none;
}

.adminContent .adminBody .adminOptions .optionsList li {
  margin: 30px auto;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.adminContent .adminBody .adminOptions .optionsList li:hover {
  color: #EEF95D;
  border-radius: 5px;
}

.adminContent .adminBody .adminOptions .optionsList li:active {
  color: #53A548;
}

.adminContent .adminBody .adminForms {
  min-width: 75%;
  height: 100%;
  margin: 0 auto;
}

.adminContent .adminBody .adminForms #createRoundMatches {
  margin-top: 35px;
  display: none;
}

.adminContent .adminBody .adminForms #createRoundMatches h3 {
  text-align: center;
}

.adminContent .adminBody .adminForms #createRoundMatches .roundNumbers {
  width: 100%;
  text-align: center;
}

.adminContent .adminBody .adminForms #createRoundMatches .roundNumbers span {
  margin: auto;
}

.adminContent .adminBody .adminForms #createRoundMatches form input {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: .5px;
  border-color: lightgrey;
  padding-left: 5px;
}

.adminContent .adminBody .adminForms #createRoundMatches form select {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 35px;
  font-size: 16px;
}

.adminContent .adminBody .adminForms #createRoundMatches form label {
  display: block;
  margin-bottom: 5px;
}

.adminContent .adminBody .adminForms #createRoundMatches form input[type=submit] {
  height: 30px;
  width: 45%;
  min-width: 145px;
  border: none;
  border-radius: 10px;
  background-color: lightgrey;
  cursor: pointer;
  margin: 10px auto;
  padding: 0;
}

.adminContent .adminBody .adminForms #createRoundMatches form input[type=submit]:hover {
  background-color: darkgrey;
}

.adminContent .adminBody .adminForms #editRoundMatches {
  margin-top: 35px;
  display: none;
}

.adminContent .adminBody .adminForms #editRoundMatches h3 {
  text-align: center;
}

.adminContent .adminBody .adminForms #editRoundMatches .roundNumbers {
  width: 100%;
  text-align: center;
}

.adminContent .adminBody .adminForms #editRoundMatches .roundNumbers span {
  margin: auto;
}

.adminContent .adminBody .adminForms #editRoundMatches form input {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: .5px;
  border-color: lightgrey;
  padding-left: 5px;
}

.adminContent .adminBody .adminForms #editRoundMatches form select {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 35px;
  font-size: 16px;
}

.adminContent .adminBody .adminForms #editRoundMatches form label {
  display: block;
  margin-bottom: 5px;
}

.adminContent .adminBody .adminForms #editRoundMatches form input[type=submit] {
  height: 30px;
  width: 45%;
  min-width: 145px;
  border: none;
  border-radius: 10px;
  background-color: lightgrey;
  cursor: pointer;
  margin: 10px auto;
  padding: 0;
}

.adminContent .adminBody .adminForms #editRoundMatches form input[type=submit]:hover {
  background-color: darkgrey;
}

.adminContent .adminBody .adminForms #enterSGLSScoreResults {
  margin-top: 35px;
  display: none;
}

.adminContent .adminBody .adminForms #enterSGLSScoreResults h3 {
  text-align: center;
}

.adminContent .adminBody .adminForms #enterSGLSScoreResults .roundNumbers {
  width: 100%;
  text-align: center;
}

.adminContent .adminBody .adminForms #enterSGLSScoreResults .roundNumbers span {
  margin: auto;
}

.adminContent .adminBody .adminForms #enterSGLSScoreResults form {
  margin: 0 auto;
}

.adminContent .adminBody .adminForms #enterSGLSScoreResults .sglsSet {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adminContent .adminBody .adminForms #enterSGLSScoreResults .sglsSet input[type=number] {
  border-radius: 5px;
  border-style: solid;
  border-width: .5px;
  border-color: lightgrey;
}

.adminContent .adminBody .adminForms #enterSGLSScoreResults form input {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: .5px;
  border-color: lightgrey;
  padding-left: 5px;
}

.adminContent .adminBody .adminForms #enterSGLSScoreResults form select {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 35px;
  font-size: 16px;
}

.adminContent .adminBody .adminForms #enterSGLSScoreResults form label {
  display: block;
  margin-bottom: 5px;
}

.adminContent .adminBody .adminForms #enterSGLSScoreResults form input[type=submit] {
  height: 30px;
  width: 45%;
  min-width: 145px;
  border: none;
  border-radius: 10px;
  background-color: lightgrey;
  cursor: pointer;
  margin: 10px auto;
  padding: 0;
}

.adminContent .adminBody .adminForms #enterSGLSScoreResults form input[type=submit]:hover {
  background-color: darkgrey;
}

.adminContent .adminBody .adminForms #enterDBLSScoreResults {
  margin-top: 35px;
  display: none;
}

.adminContent .adminBody .adminForms #enterDBLSScoreResults h3 {
  text-align: center;
}

.adminContent .adminBody .adminForms #enterDBLSScoreResults .roundNumbers {
  width: 100%;
  text-align: center;
}

.adminContent .adminBody .adminForms #enterDBLSScoreResults .roundNumbers span {
  margin: auto;
}

.adminContent .adminBody .adminForms #enterDBLSScoreResults form input {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: .5px;
  border-color: lightgrey;
  padding-left: 5px;
}

.adminContent .adminBody .adminForms #enterDBLSScoreResults form select {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 35px;
  font-size: 16px;
}

.adminContent .adminBody .adminForms #enterDBLSScoreResults form label {
  display: block;
  margin-bottom: 5px;
}

.adminContent .adminBody .adminForms #enterDBLSScoreResults form input[type=submit] {
  height: 30px;
  width: 45%;
  min-width: 145px;
  border: none;
  border-radius: 10px;
  background-color: lightgrey;
  cursor: pointer;
  margin: 10px auto;
  padding: 0;
}

.adminContent .adminBody .adminForms #enterDBLSScoreResults form input[type=submit]:hover {
  background-color: darkgrey;
}

.adminContent .adminBody .adminForms #addAnnouncement {
  margin-top: 35px;
  display: none;
}

.adminContent .adminBody .adminForms #addAnnouncement h3 {
  text-align: center;
}

.adminContent .adminBody .adminForms #addAnnouncement form input {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: .5px;
  border-color: lightgrey;
  padding-left: 5px;
}

.adminContent .adminBody .adminForms #addAnnouncement form select {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 35px;
  font-size: 16px;
}

.adminContent .adminBody .adminForms #addAnnouncement form label {
  display: block;
  margin-bottom: 5px;
}

.adminContent .adminBody .adminForms #addAnnouncement form input[type=submit] {
  height: 30px;
  width: 45%;
  min-width: 145px;
  border: none;
  border-radius: 10px;
  background-color: lightgrey;
  cursor: pointer;
  margin: 10px auto;
  padding: 0;
}

.adminContent .adminBody .adminForms #addAnnouncement form input[type=submit]:hover {
  background-color: darkgrey;
}

.adminContent .adminBody .adminForms #changePW {
  margin-top: 35px;
  display: none;
}

.adminContent .adminBody .adminForms #changePW h3 {
  text-align: center;
}

.adminContent .adminBody .adminForms #changePW form input {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: .5px;
  border-color: lightgrey;
  padding-left: 5px;
}

.adminContent .adminBody .adminForms #changePW form select {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 35px;
  font-size: 16px;
}

.adminContent .adminBody .adminForms #changePW form label {
  display: block;
  margin-bottom: 5px;
}

.adminContent .adminBody .adminForms #changePW form input[type=submit] {
  height: 30px;
  width: 45%;
  min-width: 145px;
  border: none;
  border-radius: 10px;
  background-color: lightgrey;
  cursor: pointer;
  margin: 10px auto;
  padding: 0;
}

.adminContent .adminBody .adminForms #changePW form input[type=submit]:hover {
  background-color: darkgrey;
}

.adminContent .adminBody .adminForms #addNewPlayers {
  margin-top: 35px;
  display: none;
}

.adminContent .adminBody .adminForms #addNewPlayers h3 {
  text-align: center;
}

.adminContent .adminBody .adminForms #addNewPlayers form input {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: .5px;
  border-color: lightgrey;
  padding-left: 5px;
}

.adminContent .adminBody .adminForms #addNewPlayers form select {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 35px;
  font-size: 16px;
}

.adminContent .adminBody .adminForms #addNewPlayers form label {
  display: block;
  margin-bottom: 5px;
}

.adminContent .adminBody .adminForms #addNewPlayers form input[type=submit] {
  height: 30px;
  width: 45%;
  min-width: 145px;
  border: none;
  border-radius: 10px;
  background-color: lightgrey;
  cursor: pointer;
  margin: 10px auto;
  padding: 0;
}

.adminContent .adminBody .adminForms #addNewPlayers form input[type=submit]:hover {
  background-color: darkgrey;
}

.adminContent .adminBody .adminForms #changePH {
  margin-top: 35px;
  display: none;
}

.adminContent .adminBody .adminForms #changePH h3 {
  text-align: center;
}

.adminContent .adminBody .adminForms #changePH form input {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: .5px;
  border-color: lightgrey;
  padding-left: 5px;
}

.adminContent .adminBody .adminForms #changePH form select {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 35px;
  font-size: 16px;
}

.adminContent .adminBody .adminForms #changePH form label {
  display: block;
  margin-bottom: 5px;
}

.adminContent .adminBody .adminForms #changePH form input[type=submit] {
  height: 30px;
  width: 45%;
  min-width: 145px;
  border: none;
  border-radius: 10px;
  background-color: lightgrey;
  cursor: pointer;
  margin: 10px auto;
  padding: 0;
}

.adminContent .adminBody .adminForms #changePH form input[type=submit]:hover {
  background-color: darkgrey;
}

.adminContent .adminBody .adminForms #changeEM {
  margin-top: 35px;
  display: none;
}

.adminContent .adminBody .adminForms #changeEM h3 {
  text-align: center;
}

.adminContent .adminBody .adminForms #changeEM form input {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: .5px;
  border-color: lightgrey;
  padding-left: 5px;
}

.adminContent .adminBody .adminForms #changeEM form select {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 35px;
  font-size: 16px;
}

.adminContent .adminBody .adminForms #changeEM form label {
  display: block;
  margin-bottom: 5px;
}

.adminContent .adminBody .adminForms #changeEM form input[type=submit] {
  height: 30px;
  width: 45%;
  min-width: 145px;
  border: none;
  border-radius: 10px;
  background-color: lightgrey;
  cursor: pointer;
  margin: 10px auto;
  padding: 0;
}

.adminContent .adminBody .adminForms #changeEM form input[type=submit]:hover {
  background-color: darkgrey;
}

.adminContent .adminBody .adminForms #logout {
  margin-top: 35px;
  display: none;
}

.adminContent .adminBody .adminForms #logout h3 {
  text-align: center;
}

.adminContent .adminBody .adminForms #logout form input {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: .5px;
  border-color: lightgrey;
  padding-left: 5px;
}

.adminContent .adminBody .adminForms #logout form select {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 35px;
  font-size: 16px;
}

.adminContent .adminBody .adminForms #logout form label {
  display: block;
  margin-bottom: 5px;
}

.adminContent .adminBody .adminForms #logout form input[type=submit] {
  height: 30px;
  width: 45%;
  min-width: 145px;
  border: none;
  border-radius: 10px;
  background-color: lightgrey;
  cursor: pointer;
  margin: 10px auto;
  padding: 0;
}

.adminContent .adminBody .adminForms #logout form input[type=submit]:hover {
  background-color: darkgrey;
}

.adminContent .adminBody .loginDiv {
  width: 90%;
  height: 25%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adminContent .adminBody .loginDiv .loginForm {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: block;
  padding: 0 15px 0 15px h1;
  padding-text-align: center;
}

.adminContent .adminBody .loginDiv .loginForm label {
  padding-left: 15px;
  padding-right: 15px;
}

.adminContent .adminBody .loginDiv .loginForm input[type="email"] {
  width: 300px;
  padding-left: 15px;
  border-radius: 5px;
  border: 0.5px solid;
}

.adminContent .adminBody .loginDiv .loginForm input[type="password"] {
  width: 300px;
  padding-left: 15px;
  border-radius: 5px;
  border: 0.5px solid;
}

.adminContent .adminBody .loginDiv .loginForm input[type="submit"] {
  width: 200px;
  margin-left: 35px;
  border-radius: 5px;
  float: right;
  border-style: solid;
}

.adminContent .adminBody .loginDiv .loginForm input[type="submit"]:hover {
  background-color: #585858;
  color: #EEF95D;
  border-radius: 5px;
}

.adminContent .adminBody .loginDiv .loginForm input[type="submit"]:active {
  color: #53A548;
  background-color: #333333;
}

footer {
  height: 55px;
  width: 100%;
  background-color: darkgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 10px;
}

footer .shoe {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

footer .shoe .footerCopy {
  width: 33%;
  height: 100%;
  margin: auto auto auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .shoe .footerCopy p {
  margin: auto auto auto 0;
}

footer .shoe .footerSocial {
  width: 33%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .shoe .footerSocial a {
  margin: auto;
}

footer .shoe .footerSocial a img {
  margin: auto;
  height: 30px;
  width: 30px;
}

footer .shoe .footerSocial a:hover {
  -webkit-filter: opacity(35%);
  filter: opacity(35%);
}

footer .shoe .footerSocial a:active {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
}

footer .shoe .footerRight {
  width: 33%;
  height: 100%;
  margin: auto 0 auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

footer .shoe .footerRight a {
  font-size: smaller;
  margin: auto 0 auto auto;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
}

footer .shoe .footerRight a:hover {
  color: #EEF95D;
}

footer .shoe .footerRight a:active {
  color: #53A548;
}

@media all and (max-width: 1320px) {
  /********* Nav **********/
  nav .navContainer .navLeft .navLinks {
    margin: auto;
  }
  nav .navContainer .navLeft .navLinks li {
    margin: auto;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    float: left;
  }
  nav .navContainer .navLeft .navLinks li a#tourney {
    display: none;
  }
}

@media all and (max-width: 1280px) {
  /********* Index **********/
  .homeContent .hmRight h3 {
    width: 95%;
  }
  .homeContent .hmRight p {
    font-size: 80%;
  }
  .homeContent .hmRight h4 {
    font-size: 80%;
  }
  /********* About **********/
  .aboutContent .hmRight h3 {
    width: 95%;
  }
  .aboutContent .hmRight p {
    font-size: 80%;
  }
  .aboutContent .hmRight h4 {
    font-size: 80%;
  }
}

@media only screen and (max-device-width: 1080px) {
  /********* Nav **********/
  nav .navContainer {
    width: 95%;
  }
  nav .navContainer .navLeft .navLinks {
    margin: auto;
  }
  nav .navContainer .navLeft .navLinks li {
    margin: auto;
    font-size: larger;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    float: left;
  }
  nav .navContainer .navLeft .navLinks li a#tourney {
    display: none;
  }
  nav .navContainer #navCenter #navLiCenter #logo a svg {
    margin: auto auto;
  }
  /********* Index **********/
  .homeContent {
    width: 95%;
    display: block;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .homeContent .hmLeft {
    width: 100%;
    margin: 0 auto 20px auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    border-radius: 10px;
  }
  .homeContent .hmLeft img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  .homeContent .hmRight {
    width: 100%;
    margin: auto auto 20px auto;
    padding: 0 5% 15px 5%;
    border-radius: 10px;
  }
  .homeContent .hmRight h3 {
    font-size: 2em;
  }
  .homeContent .hmRight p {
    width: 100%;
    padding-left: 0;
  }
  .homeContent .hmRight h4 {
    width: 100%;
    padding-left: 0;
  }
  /********* About **********/
  .aboutContent {
    width: 95%;
    display: block;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .aboutContent .abtLeft {
    width: 100%;
    margin: 0 auto 20px auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    border-radius: 10px;
  }
  .aboutContent .abtLeft img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  .aboutContent .hmRight {
    width: 100%;
    margin: auto auto 20px auto;
    padding: 0 5% 15px 5%;
    border-radius: 10px;
  }
  .aboutContent .hmRight h3 {
    font-size: 2em;
  }
  .aboutContent .hmRight p {
    width: 100%;
    padding-left: 0;
  }
  .aboutContent .hmRight h4 {
    width: 100%;
    padding-left: 0;
  }
  /********* Ladder **********/
  .ladderContent {
    width: 95%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  /********* Footer **********/
  footer .shoe {
    width: 95%;
  }
}

@media only screen and (max-device-width: 1080px) and (orientation: portrait) {
  /********* Nav **********/
  nav {
    height: 120px;
  }
  nav .navContainer {
    width: 95%;
  }
  nav .navContainer .navLeft .navLinks {
    margin: auto;
  }
  nav .navContainer .navLeft .navLinks li {
    margin: auto;
    font-size: 150%;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    float: left;
  }
  nav .navContainer .navLeft .navLinks li .listA {
    height: 120px;
    line-height: 120px;
    margin: auto;
  }
  nav .navContainer .navLeft .navLinks li a#tourney {
    display: none;
  }
  nav .navContainer #navCenter #navLiCenter {
    width: 100%;
  }
  nav .navContainer #navCenter #navLiCenter #logo {
    width: 100%;
  }
  nav .navContainer #navCenter #navLiCenter #logo a {
    width: 100%;
  }
  nav .navContainer #navCenter #navLiCenter #logo a svg {
    width: 100%;
    margin: auto auto;
  }
  nav .navContainer .navRight div {
    display: none;
  }
  /********* Index **********/
  .homeContent {
    padding-top: 140px;
    width: 95%;
    display: block;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .homeContent .hmLeft {
    width: 100%;
    margin: 0 auto 20px auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .homeContent .hmRight {
    width: 100%;
    margin: auto auto 15px auto;
    padding: 0 5% 15px 5%;
  }
  .homeContent .hmRight h3 {
    font-size: 2em;
  }
  .homeContent .hmRight p {
    width: 100%;
    padding-left: 0;
  }
  .homeContent .hmRight h4 {
    width: 100%;
    padding-left: 0;
  }
  /********* About **********/
  .aboutContent {
    padding-top: 140px;
    width: 95%;
    display: block;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .aboutContent .abtLeft {
    width: 100%;
    margin: 0 auto 20px auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .aboutContent .hmRight {
    width: 100%;
    margin: auto auto 15px auto;
    padding: 0 5% 15px 5%;
  }
  .aboutContent .hmRight h3 {
    font-size: 2em;
  }
  .aboutContent .hmRight p {
    width: 100%;
    padding-left: 0;
  }
  .aboutContent .hmRight h4 {
    width: 100%;
    padding-left: 0;
  }
  /********* Ladder **********/
  .ladderContent {
    padding-top: 130px;
    width: 95%;
    min-height: calc(100% - (120px - 5px));
  }
  /********* Footer **********/
  footer {
    height: 110px;
  }
  footer .shoe {
    width: 95%;
  }
  footer .shoe .footerCopy {
    height: 110px;
  }
  footer .shoe .footerCopy p {
    font-size: x-large;
  }
  footer .shoe .footerSocial {
    height: 110px;
  }
  footer .shoe .footerSocial a img {
    margin: auto;
    height: 45px;
    width: 45px;
  }
  footer .shoe .footerRight {
    height: 110px;
  }
}

.matchesContent {
  padding-top: 80px;
  width: 80%;
  height: calc(100% - (70px - 5px));
  margin: 0 auto 0 auto;
  display: block;
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.matchesContent .header {
  width: 100%;
  margin: 0 auto;
}

.matchesContent .header h1 {
  margin: 7px auto;
  text-align: center;
  font-size: 300%;
  letter-spacing: 3px;
  color: #333333;
}

.matchesContent .header h3 {
  margin: 0 auto 5px auto;
  text-align: center;
  letter-spacing: 3px;
  color: #333333;
}

.matchesContent .header h3 a {
  text-decoration: none;
  text-align: center;
  color: #333333;
}

.matchesContent .header h3 a:hover {
  color: #EEF95D;
}

.matchesContent .header h3 a:active {
  color: #53A548;
}

.matchesContent .displayMatches {
  width: 90%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 5% auto 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.matchesContent .displayMatches .left {
  width: 48%;
  margin: 0 auto auto 0;
}

.matchesContent .displayMatches .left h2 {
  text-align: center;
  color: #333333;
  padding-bottom: 10px;
}

.matchesContent .displayMatches .left div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-bottom: 7px;
  text-decoration: underline;
}

.matchesContent .displayMatches .left div .rnk {
  width: 20%;
  margin: auto;
  text-align: center;
}

.matchesContent .displayMatches .left div .nme {
  width: 60%;
  text-align: center;
  margin: auto;
}

.matchesContent .displayMatches .left div .pts {
  width: 20%;
  text-align: center;
  margin: auto;
}

.matchesContent .displayMatches .left #singlesMU {
  width: 100%;
  margin: 0 auto;
  padding: 5px auto 5px auto;
  border-collapse: collapse;
}

.matchesContent .displayMatches .left #singlesMU tr:nth-child(even) {
  background-color: #dcdcdc;
}

.matchesContent .displayMatches .left #singlesMU td {
  padding-top: .5em;
  padding-bottom: .5em;
  border: none;
}

.matchesContent .displayMatches .left #singlesMU .tableLeft {
  width: 45%;
  text-align: right;
  padding: 5px auto;
}

.matchesContent .displayMatches .left #singlesMU .tableLeft form .singlesMatch-player1-name {
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 1em;
}

.matchesContent .displayMatches .left #singlesMU .tableLeft form .singlesMatch-player1-name:hover {
  color: #EEF95D;
}

.matchesContent .displayMatches .left #singlesMU .tableLeft form .singlesMatch-player1-name:active {
  color: #53A548;
}

.matchesContent .displayMatches .left #singlesMU .tableCenter {
  width: 10%;
  text-align: center;
  padding: 5px auto;
}

.matchesContent .displayMatches .left #singlesMU .tableRight {
  width: 45%;
  text-align: left;
  padding: 5px auto;
}

.matchesContent .displayMatches .left #singlesMU .tableRight form .singlesMatch-player2-name {
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 1em;
}

.matchesContent .displayMatches .left #singlesMU .tableRight form .singlesMatch-player2-name:hover {
  color: #EEF95D;
}

.matchesContent .displayMatches .left #singlesMU .tableRight form .singlesMatch-player2-name:active {
  color: #53A548;
}

.matchesContent .displayMatches .right {
  width: 48%;
  margin: 0 0 auto auto;
}

.matchesContent .displayMatches .right h2 {
  text-align: center;
  color: #333333;
  padding-bottom: 10px;
}

.matchesContent .displayMatches .right div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-bottom: 7px;
  text-decoration: underline;
}

.matchesContent .displayMatches .right div .rnk {
  width: 20%;
  margin: auto;
  text-align: center;
}

.matchesContent .displayMatches .right div .nme {
  width: 60%;
  text-align: center;
  margin: auto;
}

.matchesContent .displayMatches .right div .pts {
  width: 20%;
  text-align: center;
  margin: auto;
}

.matchesContent .displayMatches .right #doublesMU {
  width: 100%;
  margin: 0 auto;
  padding: 5px auto 5px auto;
  border-collapse: collapse;
}

.matchesContent .displayMatches .right #doublesMU td {
  padding-top: .5em;
  padding-bottom: .5em;
  border: none;
}

.matchesContent .displayMatches .right #doublesMU .tableLeft {
  width: 20%;
  text-align: center;
  padding: 5px auto;
}

.matchesContent .displayMatches .right #doublesMU .tableCenter {
  width: 60%;
  text-align: center;
  padding: 5px auto;
}

.matchesContent .displayMatches .right #doublesMU .tableCenter form .doubles-player-name {
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 1em;
}

.matchesContent .displayMatches .right #doublesMU .tableCenter form .doubles-player-name:hover {
  color: #EEF95D;
}

.matchesContent .displayMatches .right #doublesMU .tableCenter form .doubles-player-name:active {
  color: #53A548;
}

.matchesContent .displayMatches .right #doublesMU .tableRight {
  width: 20%;
  text-align: center;
  padding: 5px auto;
}
/*# sourceMappingURL=styles.css.map */