.adminContent {
  padding-top: $nav-height+15px;
  padding-bottom: 5px;
  width: $bodyWidth;
  min-height: calc(100% - (#{$nav-height} - 15px));
  margin: 0 auto;
  display: block;
  z-index: 3;
  box-sizing: border-box;
  background-color: $backgroundColor;
  color: #333333;

  .header {
    width: 100%;
    margin: 0 auto;
    //background-color: #A5DC86;

    h1{
      margin: 7px auto;
      text-align: center;
      font-size: 300%;
      letter-spacing: 3px;
      color: #333333;
    }
    h3 {
      margin: 0 auto 5px auto;
      text-align: center;
      letter-spacing: 3px;
      color: #333333;

    }

  }

  .adminBody{
    width: 90%;
    height: 100%;
    //background-color: #f06e57;
    display: flex;
    margin: 0 auto;

    .adminOptions{
      min-width: 25%;
      height: 100%;
      //background-color: aqua;
      margin: 0 auto 0 auto;

      .optionsList{
        list-style: none;

        li{
          margin: 30px auto;
          padding-top: 5px;
          padding-left: 5px;
          padding-bottom: 5px;
          cursor: pointer;

          &:hover {
            background-color: #333333;
            color: #EEF95D;
            border-radius: 5px;
          }

          &:active {
            color: #53A548;
          }
        }
      }
    }
    .adminForms{
      min-width: 75%;
      height: 100%;
      background-color: darkorchid;
      margin: 0 auto;


      #createRoundMatches{
        margin-top: 35px;
        display: none;

        h3{
          text-align: center;
        }

        .roundNumbers{
          width: 100%;

          span{
            margin: auto;
          }
        }

        form input{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 10px;
          font-size: 16px;
          border-radius: 5px;
          border-style: solid;
          border-width: .5px;
          border-color: lightgrey;
          padding-left: 5px;
        }

        form select{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 35px;
          font-size: 16px;
        }

        form label {
          display: block;
          margin-bottom: 5px;
        }

        form input[type=submit] {
          height: 30px;
          width: 45%;
          min-width: 145px;
          border: none;
          border-radius: 10px;
          background-color: lightgrey;
          cursor: pointer;
          margin: 10px auto;
          padding: 0;

          &:hover{
            background-color: darkgrey;
          }
        }

      }

      #editRoundMatches{
        margin-top: 35px;
        display: none;

        h3{
          text-align: center;
        }

        form input{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 10px;
          font-size: 16px;
          border-radius: 5px;
          border-style: solid;
          border-width: .5px;
          border-color: lightgrey;
          padding-left: 5px;
        }

        form select{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 35px;
          font-size: 16px;
        }

        form label {
          display: block;
          margin-bottom: 5px;
        }

        form input[type=submit] {
          height: 30px;
          width: 45%;
          min-width: 145px;
          border: none;
          border-radius: 10px;
          background-color: lightgrey;
          cursor: pointer;
          margin: 10px auto;
          padding: 0;

          &:hover{
            background-color: darkgrey;
          }
        }

      }

      #enterScoreResults{
        margin-top: 35px;
        display: none;

        h3{
          text-align: center;
        }

        form input{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 10px;
          font-size: 16px;
          border-radius: 5px;
          border-style: solid;
          border-width: .5px;
          border-color: lightgrey;
          padding-left: 5px;
        }

        form select{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 35px;
          font-size: 16px;
        }

        form label {
          display: block;
          margin-bottom: 5px;
        }

        form input[type=submit] {
          height: 30px;
          width: 45%;
          min-width: 145px;
          border: none;
          border-radius: 10px;
          background-color: lightgrey;
          cursor: pointer;
          margin: 10px auto;
          padding: 0;

          &:hover{
            background-color: darkgrey;
          }
        }

      }

      #addAnnouncement{
        margin-top: 35px;
        display: none;

        h3{
          text-align: center;
        }

        form input{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 10px;
          font-size: 16px;
          border-radius: 5px;
          border-style: solid;
          border-width: .5px;
          border-color: lightgrey;
          padding-left: 5px;
        }

        form select{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 35px;
          font-size: 16px;
        }

        form label {
          display: block;
          margin-bottom: 5px;
        }

        form input[type=submit] {
          height: 30px;
          width: 45%;
          min-width: 145px;
          border: none;
          border-radius: 10px;
          background-color: lightgrey;
          cursor: pointer;
          margin: 10px auto;
          padding: 0;

          &:hover{
            background-color: darkgrey;
          }
        }

      }

      #changePW{
        margin-top: 35px;
        display: none;

        h3{
          text-align: center;
        }

        form input{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 10px;
          font-size: 16px;
          border-radius: 5px;
          border-style: solid;
          border-width: .5px;
          border-color: lightgrey;
          padding-left: 5px;
        }

        form select{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 35px;
          font-size: 16px;
        }

        form label {
          display: block;
          margin-bottom: 5px;
        }

        form input[type=submit] {
          height: 30px;
          width: 45%;
          min-width: 145px;
          border: none;
          border-radius: 10px;
          background-color: lightgrey;
          cursor: pointer;
          margin: 10px auto;
          padding: 0;

          &:hover{
            background-color: darkgrey;
          }
        }

      }

      #addNewPlayers{
        margin-top: 35px;
        display: none;

        h3{
          text-align: center;
        }

        form input{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 10px;
          font-size: 16px;
          border-radius: 5px;
          border-style: solid;
          border-width: .5px;
          border-color: lightgrey;
          padding-left: 5px;
        }

        form select{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 35px;
          font-size: 16px;
        }

        form label {
          display: block;
          margin-bottom: 5px;
        }

        form input[type=submit] {
          height: 30px;
          width: 45%;
          min-width: 145px;
          border: none;
          border-radius: 10px;
          background-color: lightgrey;
          cursor: pointer;
          margin: 10px auto;
          padding: 0;

          &:hover{
            background-color: darkgrey;
          }
        }

      }

      #changePH{
        margin-top: 35px;
        display: none;

        h3{
          text-align: center;
        }

        form input{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 10px;
          font-size: 16px;
          border-radius: 5px;
          border-style: solid;
          border-width: .5px;
          border-color: lightgrey;
          padding-left: 5px;
        }

        form select{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 35px;
          font-size: 16px;
        }

        form label {
          display: block;
          margin-bottom: 5px;
        }

        form input[type=submit] {
          height: 30px;
          width: 45%;
          min-width: 145px;
          border: none;
          border-radius: 10px;
          background-color: lightgrey;
          cursor: pointer;
          margin: 10px auto;
          padding: 0;

          &:hover{
            background-color: darkgrey;
          }
        }

      }

      #changeEM{
        margin-top: 35px;
        display: none;

        h3{
          text-align: center;
        }

        form input{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 10px;
          font-size: 16px;
          border-radius: 5px;
          border-style: solid;
          border-width: .5px;
          border-color: lightgrey;
          padding-left: 5px;
        }

        form select{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 35px;
          font-size: 16px;
        }

        form label {
          display: block;
          margin-bottom: 5px;
        }

        form input[type=submit] {
          height: 30px;
          width: 45%;
          min-width: 145px;
          border: none;
          border-radius: 10px;
          background-color: lightgrey;
          cursor: pointer;
          margin: 10px auto;
          padding: 0;

          &:hover{
            background-color: darkgrey;
          }
        }

      }

      #logout{
        margin-top: 35px;
        display: none;

        h3{
          text-align: center;
        }

        form input{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 10px;
          font-size: 16px;
          border-radius: 5px;
          border-style: solid;
          border-width: .5px;
          border-color: lightgrey;
          padding-left: 5px;
        }

        form select{
          display: block;
          width: 90%;
          height: 40px;
          margin-bottom: 35px;
          font-size: 16px;
        }

        form label {
          display: block;
          margin-bottom: 5px;
        }

        form input[type=submit] {
          height: 30px;
          width: 45%;
          min-width: 145px;
          border: none;
          border-radius: 10px;
          background-color: lightgrey;
          cursor: pointer;
          margin: 10px auto;
          padding: 0;

          &:hover{
            background-color: darkgrey;
          }
        }

      }


    }

  }
}