.joinContent {
  padding-top: $nav-height+15px;
  padding-bottom: 5px;
  width: $bodyWidth;
  min-height: calc(100% - (#{$nav-height} - 15px));
  margin: auto;
  display: block;
  z-index: 3;
  box-sizing: border-box;
  //background-color: white;
}