.loginDiv{
    width: 90%;
    height: 25%;
    // background-color: #A5DC86;
    margin: 20px auto;
    // height:auto; 
    display: block;

    .loginForm{
      width:100%; 
      margin:0 auto;
      // width: 100%;
      // background-color: orangered;
      height: 100%;
      display: block;
      padding: 0 15px 0 15px;

      h1{
        text-align: center;
      }

      label{
        height: 25px;
        padding-left: 15px;
        padding-right: 15px;
      }

      input[type=email] {
        height: 25px;
        width: 200px;
        padding-left: 15px;
        //background-color: yellow;
        border-radius: 5px;
        border:0.5px solid
      }

      input[type=password] {
        height: 25px;
        width: 200px;
        padding-left: 15px;
        //background-color: yellow;
        border-radius: 5px;
        border:0.5px solid
      }
    
      input[type=submit] {
          height: 25px;
          width: 150px;
          margin-left: 35px;
          border-radius: 5px;
          float: right;
          border-style:solid;

          &:hover {
            background-color: #585858;
            color: #EEF95D;
            border-radius: 5px;
          }

          &:active {
            color: #53A548;
            background-color: #333333;
          }
      }
    }
}

@media only screen and (max-device-width : 1080px) and (orientation: portrait) {
  /******** Login *********/
  .loginDiv{
    width: 90%;
    // background-color: #A5DC86;
    margin: 20px auto;
    min-height: 95%; 
    display: flex;

    .loginForm{
      width:100%;
      // background-color: orangered;
      height: 100%;
      display: block;
      padding: 0 15px 0 15px;

      label{
        font-size: xx-large;
      }

      input[type=email] {
        height: 70px;
        width: 90%;
        padding-left: 15px;
        // background-color: yellow;
        font-size: xx-large;
        margin-bottom: 50px;
      }

      input[type=password] {
        height: 70px;
        width: 90%;
        padding-left: 15px;
        // background-color: yellow;
        font-size: xx-large;
        margin-bottom: 50px;
      }
    
      input[type=submit] {
        height: 70px;
        width: 300px;
        font-size: xx-large;
        margin: 0 auto auto auto;
      }
    }
  }
}