.playerContent {
  padding-top: $nav-height + 10px;
  //padding-bottom: 5px;
  width: $bodyWidth;
  height: calc(100% - (#{$nav-height} - 5px));
  margin: 0 auto 0 auto;
  display: block;
  z-index: 3;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $backgroundColor;
  border-radius: 0 0 10px 10px;

  .header {
    width: 90%;
    margin: 0 auto;
    //background-color: #f06e57;
    box-sizing: border-box;
    //padding: 0 auto auto 15px;

    h1 {
      margin: 0 auto;
      text-align: center;
      font-size: 300%;
      letter-spacing: 3px;
      color: #333333;
    }
    h4 {
      margin: 0 auto;
      text-align: center;
      letter-spacing: 3px;
      color: #333333;
    }

    .rankings{
      width: 90%;
      display: flex;
      margin: 5px auto;
      //background-color: #f06e57;

      .left{
        margin: 0 20px auto auto;
        width: 49%;
        //background-color: #A5DC86;
        text-align: right;

      }
      .right{
        margin: 0 auto 20px auto;
        width: 49%;
        //background-color: aquamarine;
        text-align: left;
      }
    }
  }

  @import "login.scss";
}