.playerContent {
  padding-top: $nav-height+15px;
  padding-bottom: 5px;
  width: $bodyWidth;
  min-height: 100%;
  margin: 0 auto;
  display: block;
  z-index: 3;
  box-sizing: border-box;
  background-color: $backgroundColor;
  color: #333333;

  .header {
    width: 100%;
    margin: 0 auto;
    //background-color: #f06e57;
    box-sizing: border-box;
    //padding: 0 auto auto 15px;

    h1 {
      margin: 0 auto;
      text-align: center;
      font-size: 300%;
      letter-spacing: 3px;
      color: #333333;
    }
    h4 {
      margin: 0 auto;
      text-align: center;
      letter-spacing: 3px;
      color: #333333;
    }

    .rankings{
      width: 100%;
      display: flex;
      margin: 5px auto;
      //background-color: #f06e57;

      .left{
        margin: 0 20px auto auto;
        width: 49%;
        //background-color: #A5DC86;
        text-align: right;

      }
      .right{
        margin: 0 auto 20px auto;
        width: 49%;
        //background-color: aquamarine;
        text-align: left;
      }
    }
  }
}