@media all and (max-width : 1320px) {

  /********* Nav **********/
  nav {
    .navContainer {
      .navLeft{
        .navLinks{
          margin: auto;
          li {
            //display: flex;
            margin: auto;
            //font-size: larger;
            width: min-content;
            float: left;
          }
          li a#tourney{
            display: none;
          }

        }
      }
    }
  }
}

@media all and (max-width : 1280px) {

  /********* Index **********/
  .homeContent {

    .hmRight {

      h3 {
        //font-size: 2em;
        width: 95%;
      }
      p {
        font-size: 80%;
      }
      h4 {
        font-size: 80%;
      }
    }
  }

  /********* About **********/
  .aboutContent {

    .hmRight {

      h3 {
        //font-size: 2em;
        width: 95%;
      }
      p {
        font-size: 80%;
      }
      h4 {
        font-size: 80%;
      }
    }
  }
}

@media only screen and (max-device-width : 1080px) {

  /********* Nav **********/
  nav {

    .navContainer{
      width: 95%;
      //margin: auto 2.5% auto 2.5%;

      .navLeft{
        .navLinks{
          margin: auto;
          li {
            //display: flex;
            margin: auto;
            font-size: larger;
            width: min-content;
            float: left;
          }
          li a#tourney{
            display: none;
          }

        }
      }

      #navCenter{
        #navLiCenter{
          #logo{
            a{
              svg{
                margin: auto auto;
              }
            }
          }
        }
      }

    }

  }

  /********* Index **********/
  .homeContent {
    width: 95%;
    display: block;
    height: min-content;

    .hmLeft{
      width: 100%;
      margin: 0 auto 20px auto;
      height: min-content;
      border-radius: 10px;

      img{
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
      }
    }

    .hmRight{
      width: 100%;
      margin: auto auto 20px auto;
      padding: 0 5% 15px 5%;
      border-radius: 10px;

      h3{
        font-size: 2em;
      }
      p {
        width: 100%;
        padding-left: 0;
      }
      h4 {
        width: 100%;
        padding-left: 0;
      }
    }
  }

  /********* About **********/
  .aboutContent {
    width: 95%;
    display: block;
    height: min-content;

    .abtLeft{
      width: 100%;
      margin: 0 auto 20px auto;
      height: min-content;
      border-radius: 10px;

      img{
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
      }
    }

    .hmRight{
      width: 100%;
      margin: auto auto 20px auto;
      padding: 0 5% 15px 5%;
      border-radius: 10px;

      h3{
        font-size: 2em;
      }
      p {
        width: 100%;
        padding-left: 0;
      }
      h4 {
        width: 100%;
        padding-left: 0;
      }
    }
  }

  /********* Ladder **********/
  .ladderContent {
    width: 95%;
    height: min-content;
  }

  /********* Footer **********/
  footer {
    .shoe {
      width: 95%;
    }
  }

}

@media only screen and (max-device-width : 1080px) and (orientation: portrait) {

  /********* Nav **********/
  nav {
    height: $phone-nav-height;

    .navContainer{
      width: 95%;
      //margin: auto 2.5% auto 2.5%;

      .navLeft{
        .navLinks{
          margin: auto;
          li {
            margin: auto;
            //display: flex;
            font-size: 150%;
            width: min-content;
            float: left;

            .listA{
              height: $phone-nav-height;
              line-height: $phone-nav-height;
              margin: auto;
              //vertical-align: middle;
            }
          }
          li a#tourney{
            display: none;
          }

        }
      }

      #navCenter{
        #navLiCenter{
          width: 100%;
          #logo{
            width: 100%;
            a{
              width: 100%;
              svg{
                width: 100%;
                margin: auto auto;

              }
            }
          }
        }
      }

      .navRight{
        div{
          display: none;
        }
      }
    }

  }

  /********* Index **********/
  .homeContent {
    padding-top: $phone-nav-height + 20px;
    width: 95%;
    display: block;
    height: min-content;

    .hmLeft{
      width: 100%;
      margin: 0 auto 20px auto;
      height: min-content;
    }

    .hmRight{
      width: 100%;
      margin: auto auto 15px auto;
      padding: 0 5% 15px 5%;

      h3{
        font-size: 2em;
      }
      p {
        width: 100%;
        padding-left: 0;
      }
      h4 {
        width: 100%;
        padding-left: 0;
      }
    }
  }

  /********* About **********/
  .aboutContent {
    padding-top: $phone-nav-height + 20px;
    width: 95%;
    display: block;
    height: min-content;

    .abtLeft{
      width: 100%;
      margin: 0 auto 20px auto;
      height: min-content;
    }

    .hmRight{
      width: 100%;
      margin: auto auto 15px auto;
      padding: 0 5% 15px 5%;

      h3{
        font-size: 2em;
      }
      p {
        width: 100%;
        padding-left: 0;
      }
      h4 {
        width: 100%;
        padding-left: 0;
      }
    }
  }

  /********* Ladder **********/
  .ladderContent {
    padding-top: $phone-nav-height + 10px;
    width: 95%;
    //height: min-content;
    min-height: calc(100% - (#{$phone-nav-height} - 5px));
  }

  /********* Footer **********/
  footer {
    height: $phone-nav-height - 10px;

    .shoe {
      width: 95%;

      .footerCopy {
        height: $phone-nav-height - 10px;

        p {
          font-size: x-large;
        }
      }
      .footerSocial {
        height: $phone-nav-height - 10px;

        a {
          img {
            margin: auto;
            height: 45px;
            width: 45px;
          }
        }
      }
      .footerRight {
        height: $phone-nav-height - 10px;
      }
    }
  }
}

