.matchesContent {
  padding-top: $nav-height + 10px;
  //padding-bottom: 5px;
  width: $bodyWidth;
  height: calc(100% - (#{$nav-height} - 5px));
  margin: 0 auto 0 auto;
  display: block;
  z-index: 3;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $backgroundColor;
  border-radius: 0 0 10px 10px;

  .header{
    width: 100%;
    margin: 0 auto;

    h1{
      margin: 7px auto;
      text-align: center;
      font-size: 300%;
      letter-spacing: 3px;
      color: #333333;
    }
    h3{
      margin: 0 auto 5px auto;
      text-align: center;
      letter-spacing: 3px;
      color: #333333;
      a{
        text-decoration: none;
        text-align: center;
        color: #333333;

        &:hover {
          color: #EEF95D;
        }

        &:active {
          color: #53A548;
        }
      }
    }
  }
  
  .displayMatches{
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 5% auto 5%;
    display: flex;
    background-color: white;

    .left{
      width: 48%;
      //background-color: #F8D486;
      margin: 0 auto auto 0;

      h2{
        text-align: center;
        color: #333333;
        padding-bottom: 10px;
      }

      div{
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding-bottom: 7px;
        text-decoration: underline;

        .rnk{
          width: 20%;
          //background-color: #A5DC86;
          margin: auto;
          text-align: center;

        }
        .nme{
          width: 60%;
          //background-color: #f06e57;
          text-align: center;
          margin: auto;
        }
        .pts{
          width: 20%;
          //background-color: cornflowerblue;
          text-align: center;
          margin: auto;
        }
      }

      #singlesMU{
        width: 100%;
        //background-color: #53A548;
        //border: none;
        margin: 0 auto;
        padding: 5px auto 5px auto;
        //border: 1px solid #CCC;
        border-collapse: collapse;

        tr:nth-child(even) {
          background-color: #dcdcdc;
        }

        td{
          padding-top: .5em;
          padding-bottom: .5em;
          border: none;
        }

        .tableLeft{
          width: 45%;
          //background-color: #A5DC86;
          text-align: right;
          padding: 5px auto;

          form{
            .singlesMatch-player1-name{
              text-decoration: none;
              background: none;
              border: none;
              padding: 0;
              cursor: pointer;
              font-size: 1em;

              &:hover {
                color: #EEF95D;
              }

              &:active {
                color: #53A548;
              }
            }
          }
          
        }
        .tableCenter{
          width: 10%;
          //background-color: #f06e57;
          text-align: center;
          padding: 5px auto;      
        }
        .tableRight{
          width: 45%;
          //background-color: cornflowerblue;
          text-align: left;
          padding: 5px auto;

          form{            
            .singlesMatch-player2-name{
              text-decoration: none;
              background: none;
              border: none;
              padding: 0;
              cursor: pointer;
              font-size: 1em;

              &:hover {
                color: #EEF95D;
              }

              &:active {
                color: #53A548;
              }
            }
          }
        }
      }
    }

    .right{
      width: 48%;
      //background-color: #F8D486;
      margin: 0 0 auto auto;

      h2{
        text-align: center;
        color: #333333;
        padding-bottom: 10px;
      }

      div{
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding-bottom: 7px;
        text-decoration: underline;
      }

      #doublesMU{
        width: 100%;
        // background-color: rgb(193, 214, 190);
        //border: none;
        margin: 0 auto;
        padding: 5px auto 5px auto;
        //border: 1px solid #CCC;
        border-collapse: collapse;

        tr:nth-child(odd) {
          background-color: #dcdcdc;
        }

        td{
          padding-top: .5em;
          padding-bottom: .5em;
          border: none;
        }

        .tableLeft{
          width: 10%;
          // background-color: royalblue;
          text-align: left;
          padding: 5px auto;
        }
        .tableCenter{
          width: 80%;
          // background-color: #A5DC86;
          text-align: center;
          padding: 5px auto;
          display: flex;
          margin: auto;

          form{
            margin: auto;

            .doublesMatch-player-name{
              text-decoration: none;
              background: none;
              border: none;
              padding: 0;
              cursor: pointer;
              font-size: 1em;

              &:hover {
                color: #EEF95D;
              }

              &:active {
                color: #53A548;
              }
            }
          }
        }
        .tableRight{
          width: 10%;
          // background-color: cornflowerblue;
          text-align: center;
          padding: 5px auto;

        }
      }
    }
  }
}